.back-to-top {
  content: "\f062";
  font-family: FontAwesome;

  display: inline-block;

  position: fixed;
  bottom: 40px;
  right: 10px;

  box-shadow: 0 0 10px rgba(#000, .05);

  // arrow
  color: white;
  font-size: 25px;
  padding: 12px 17px;

  /* image replacement properties */
  background: rgba($brand-primary, .8);

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;

  &.cd-is-visible, &.cd-fade-out, .no-touch &:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
  }

  &.cd-is-visible { /* the button becomes visible */
    visibility: visible;
    opacity: 1;
  }

  &.cd-fade-out { /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
  }

  &:hover {
    background-color: rgba($brand-primary, 1);
    opacity: 1;
    color: white;
  }

  @include bp(medium) {
    right: 20px;
    bottom: 20px;
  }

  @include bp(large) {
    right: 30px;
    bottom: 30px;
  }
}
