div.navbar {
  width: 100%;
  margin-bottom: 0;
  .container-fluid {
    background: #fff;
  }
  .navbar-brand {
    height: auto;
    max-width: 400px;
    > img {
      width: 100%;
    }
  }
  .navbar-nav {
    > li {
      a {
      }
      &.active, &:hover {
        > a, a:hover {
        }
      }
    }
  }
}
